<div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-8 padding-table">
          <form (ngSubmit)="onSubmitCreateBlog(f)" #f="ngForm">
            <div class="form-group">
              <dropzone [config]="config"
                        [message]="'Click or drag images here to upload'"
                        (error)="onUploadError($event)"
                        (success)="onUploadSuccess($event)"
              ></dropzone>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Blog title</label>
              <input type="email" class="form-control"
                     id="exampleInputEmail1"
                     aria-describedby="emailHelp"
                     placeholder="Enter email"
                     ngModel
                     name="title"
              >
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Blog Category</label>
              <input type="email" class="form-control"
                     id="exampleInputEmail1"
                     aria-describedby="emailHelp"
                     placeholder="Enter email"
                     ngModel
                     name="category"
              >
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Blog Description</label>
               <textarea id="editorpen"
                         [froalaEditor]
                         ngModel
                         name="editorContent"
               >
            </textarea>
            </div>

            <button class="btn btn-outline-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
