#adminContainer {
  background-image: url('../../assets/cover.jpg') ;
  background-position: center;
  background-repeat:  no-repeat;
  background-size:  cover;
  height:678px;
  position: relative;
}

.sign-in-component{
  position: absolute;
  right:550px;
  top:200px;
}

