<div>
  <div class="bredCumb">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 padding-table">
          <div class="card">
            <div class="card-header">
              Published Blog's
            </div>
            <div class="card-block">
              <table class="table">
                <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>Blog Title</th>
                  <th>Cover</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Created By</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let blog of blogs | paginate: { itemsPerPage: 2, currentPage: p }; let i= index">
                  <th scope="row">{{ index+i  }}</th>
                  <td>{{blog.title}}</td>
                  <td><a (click)="openImageModal()"><img class="blog_image" [src]="blog.blog_header_image" alt=""></a></td>
                  <td>{{blog.bog_description}}</td>
                  <td>{{blog.categories}}</td>
                  <td>{{blog.user_id}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
 </div>
<div id="myModal" class="modal" [style.display]="openModal ? 'block': ''">
  <span class="close">&times;</span>
  <div class="modal-dialog modal-sm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="form-control-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
</div>

