<div>
  <div class="create-blog">
    <a class="btn btn-outline-success" (click)="openCreateBlogModal()">Create Blog</a>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 padding-table">
          <div class="card">
            <div class="card-header">
              Published Blog's
            </div>
            <div class="card-block">
              <table class="table">
                <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>Blog Title</th>
                  <th>Cover</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Created By</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let blog of blogs | paginate: { itemsPerPage: 2, currentPage: p }; let i= index">
                  <th scope="row">{{ index+i  }}</th>
                  <td>{{blog.title}}</td>
                  <td><a (click)="openImageModal(blog._id)"><img class="blog_image" [src]="blog.blog_header_image" alt=""></a></td>
                  <td>{{blog.bog_description}}</td>
                  <td>{{blog.categories}}</td>
                  <td>{{blog.user_id}}</td>
                  <td>
                    <a (click)="deleteBlog(blog._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <a (click)="openEditModal()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
 </div>
<div id="myModal" class="modal" [style.display]="openImgModal ? 'block': ''">
  <span class="close">&times;</span>
  <div class="modal-dialog modal-lg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <img [src]="blogImage" alt="">
        <div class="closeModal">
          <a (click)="closeImageModal()"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myEditBlogModal" class="modal" [style.display]="openEditBlogModal ? 'block': ''">
  <span class="close">&times;</span>
  <div class="modal-dialog modal-lg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
          </div>
          <fieldset class="form-group">
            <legend>Publish</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary" (click)="closeEditModal()">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myCreateBlogModal" class="modal" [style.display]="openCreateBlogModalForm ? 'block': ''">
  <span class="close">&times;</span>
  <div class="modal-dialog modal-lg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div [froalaEditor]>Hello, Froala!</div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary" (click)="closeCreateModal()">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

